{% extends "layout.html" %}

{% block title %}{{ rst.title }}{% endblock %}
{% block description %}{{ ctx.render_summary()|striptags or super() }}{% endblock %}

{% block body %}
  {%- if not config.hide_title -%}
  <header data-module="page-header">
    <h1>{{ rst.title }}</h1>
  </header>
  {%- endif -%}

  {%- for module in config.before -%}
    {% include module.include %}
  {%- endfor -%}

  {% if rst.fragment %}
    <div data-module="page">
      {{ rst.fragment }}
    </div>
  {% endif %}

  {%- for module in config.after -%}
    {% include module.include %}
  {%- endfor -%}
{% endblock %}
